
.intro {
    padding: 1.2rem;
    text-align: justify;
    font-size: larger;
}

.entries_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entries_section .entry {
    width: 98.5vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border: 4px solid rgb(75, 142, 82);
        background-image: url(src/assets/background-canvas06.jpg);
    background-size: cover;
    background-position: center;
}

.entries_section .entry .main_chunk {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.entries_section .entry .main_chunk .image_box {
    width: 40rem;
    height: 40rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entries_section .entry .main_chunk .image_box .image_vertical {
    height: 100%;
    width: auto;
    border: 2px solid #153e3d;
}

.entries_section .entry .main_chunk .image_box .image_horizontal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 2px solid #153e3d;
}

.entries_section .entry .main_chunk .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 45%;
    padding: 0.2rem;
    text-align: justify;
    font-style: italic;
}

.entries_section .entry .main_chunk .about p {
    text-align: center;
    font-size: 1.6rem;
}


.entries_section .entry .comments_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scrollbar-width: 1rem;
}

.entries_section .entry .comments_box .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-top: 1rem;
    height: 14rem;
    background-color: rgb(76, 189, 189);
    border: 0.2rem solid rgb(83, 131, 88);
    border-radius: 0.3rem;
    scrollbar-width: none;

}

.entries_section .entry .comments_box .comments .comment {
    background-color: rgb(53, 135, 138);
    padding: 1rem;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.entries_section .entry .comments_box .comments .comment .content {
    text-align: center;
}

.entries_section .entry .comments_box .comments .comment .signature {
    margin: 0;
}

.entries_section .entry .comments_box .add_button {
    margin-top: 2rem;
    background-color: rgb(52, 148, 212);
    margin-bottom: 2rem;
    width: 60%;
    padding: 1.2rem;
    font-size: larger;
    font-weight: 700;
    border-radius: 2rem;
    cursor: pointer;
    border: 4px solid rgb(4, 28, 46);
    transition: all 0.3s;
}

.entries_section .entry .comments_box .add_button:hover {
    background-color: rgb(128, 198, 245);
    border: 4px solid rgb(7, 50, 83);
}

.entries_section .entry .comments_box .add_button:active {
    background-color: rgb(202, 217, 226);
    border: 4px solid rgb(97, 139, 163);
}



@media (max-width: 1200px) {

    .entries_section .entry {
        flex-direction: column;
        height: fit-content;
        width: 98vw;
    }

    .entries_section .entry .main_chunk {
        display: flex;
        flex-direction: row;
        width: 100%;
    }


    .entries_section .entry .main_chunk .about {
        width: 25%;
    }

    .entries_section .entry .comments_box {
        width: 100%;
    }

    .entries_section .entry .comments_box .add_button {
        position: relative;
        margin-top: 1rem;
    }

}


@media (max-width: 900px) {

    .entries_section .entry {
        width: 97vw;
    }

    .entries_section .entry .main_chunk {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .entries_section .entry .main_chunk .image_box {
        width: 95vw;
        height: 95vw;
        justify-content: center;
    }


    .entries_section .entry .main_chunk .about {
        width: 80vw;
    }

    .entries_section .entry .comments_box .comments {
        scrollbar-width: none;
    }

}

@media (max-width: 450px) {

    .entries_section .entry .comments_box .comments .comment button {
    padding: 0.8rem;
}

.headline {
    font-size: 1.5rem;
}

.intro {
    font-size: larger;
}

}