.headline {
    margin-top: 4rem;
}

.intro {
    padding: 1.2rem;
    text-align: justify;
}

.entries_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entries_section .entry {
    width: 98.5vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border: 4px solid rgb(75, 142, 82);
}

.entries_section .entry .main_chunk {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(127, 196, 173);
    width: 100%;
}

.entries_section .entry .main_chunk .image_box {
    width: 40rem;
    height: 40rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entries_section .entry .main_chunk .image_box .image_vertical {
    height: 100%;
    width: auto;
}

.entries_section .entry .main_chunk .image_box .image_horizontal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.entries_section .entry .main_chunk .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: auto;
    padding: 0.2rem;
    text-align: justify;
    font-style: italic;
}

.entries_section .entry .main_chunk .about p {
    text-align: center;
}


.entries_section .entry .comments_box {
    width: 100%;
    height: auto;
    background-color: rgb(127, 196, 173);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scrollbar-width: 1rem;
}

.entries_section .entry .comments_box .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-top: 1rem;

}

.entries_section .entry .comments_box .comments .comment {
    background-color: rgb(53, 135, 138);
    padding: 1rem;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;

}

.entries_section .entry .comments_box .comments .comment .content {
    text-align: center;
}

.entries_section .entry .comments_box .comments .comment .signature {
    margin: 0;
}

.entries_section .entry .comments_box .comments .edit_form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: rgb(189, 209, 135);
    border-radius: 2rem;
    padding: 1rem;
    width: 70vw;
}

.entries_section .entry .comments_box .comments .edit_form .text {
    border-radius: 1rem;
    padding: 0.5rem;
}

.entries_section .entry .comments_box .comments .edit_form .buttons {
   display: flex;
   justify-content: center;
   gap: 3rem;
}

.entries_section .entry .comments_box .comments .edit_form .buttons .save_button {
    padding: 0.6rem;
    border: 2px solid rgb(67, 107, 53);
    background-color: aquamarine;
    border-radius: 0.7rem;
    cursor: pointer;
}

.entries_section .entry .comments_box .comments .edit_form .buttons .cancel_button {
    padding: 0.6rem;
    border: 2px solid rgb(231, 86, 86);
    background-color: rgb(236, 106, 106);
    border-radius: 0.7rem;
    cursor: pointer;
}

.entries_section .entry .comments_box .add_button {
    margin-top: 2rem;
    background-color: rgb(52, 148, 212);
    margin-bottom: 2rem;
    width: 60%;
    padding: 1.2rem;
    font-size: larger;
    font-weight: 700;
    border-radius: 2rem;
    cursor: pointer;
    border: 4px solid rgb(4, 28, 46);
    transition: all 0.3s;
}

.entries_section .entry .comments_box .add_button:hover {
    background-color: rgb(128, 198, 245);
    border: 4px solid rgb(7, 50, 83);
}

.entries_section .entry .comments_box .add_button:active {
    background-color: rgb(202, 217, 226);
    border: 4px solid rgb(97, 139, 163);
}



@media (max-width: 1200px) {

    .entries_section .entry {
        flex-direction: column;
        height: fit-content;
        width: 98vw;
    }

    .entries_section .entry .main_chunk {
        display: flex;
        flex-direction: row;
        width: 100%;
    }


    .entries_section .entry .main_chunk .about {
        width: 30%;
    }

    .entries_section .entry .comments_box {
        width: 100%;
    }


    .entries_section .entry .comments_box .add_button {
        position: relative;
        margin-top: 1rem;
    }

}


@media (max-width: 720px) {

    .entries_section .entry {
        width: 97vw;
    }

    .entries_section .entry .main_chunk {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .entries_section .entry .main_chunk .image_box {
        width: 95vw;
        height: 95vw;
    }

    .entries_section .entry .main_chunk .about {
        width: 80%;
    }


}

@media (min-width: 720px) and (max-width: 900px) {

    .entries_section .entry .main_chunk .about {
        width: 20%;
    }
}