.entries_section .entry {
    width: 99vw;
    height: 40rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
    border: 0.2rem solid crimson;
}

.entries_section .entry .main_chunk {
    display: flex;
    flex-direction: row;
}

.entries_section .entry .main_chunk .image {
    height: 100%;
    width: auto;
    align-self: center;
}

.entries_section .entry .main_chunk .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    align-self: center;
    width: 33%;
}

.entries_section .entry .comments_box {
    width: 33%;
}

.entries_section .entry .comments_box .comments {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 60vh;
    overflow-y: scroll;
}

.entries_section .entry .comments_box .comments .comment {
    background-color: cadetblue;
    padding: 1rem;
}

.entries_section .entry .comments_box .comments .comment .signature {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.entries_section .entry .comments_box .comments .comment .date {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.entries_section .entry .comments_box .add_button {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 2rem;
    background-color: aquamarine;
}

@media (min-width: 720px) and (max-width: 1100px) {

    .entries_section .entry {
        flex-direction: column;
        height: fit-content;
    }

    .entries_section .entry .main_chunk {
        display: flex;
        flex-direction: row ;
    }

}


@media (max-width: 720px) {}

@media (max-width: 450px) {}