.entries_section .entry {
    width: 99vw;
    height: 40rem;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    border: 0.2rem solid crimson;
}

.entries_section .entry .main_chunk {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: antiquewhite;
    width: 70%;
}

.entries_section .entry .main_chunk .image {
    height: 100%;
    width: auto;
    align-self: center;
}

.entries_section .entry .main_chunk .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 33%;
    padding: 0.2rem;
    text-align: justify;
}

.entries_section .entry .comments_box {
    width: 30%;
    height: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entries_section .entry .comments_box .comments {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-top: 1rem;
}

.entries_section .entry .comments_box .comments .comment {
    background-color: rgb(53, 135, 138);
    padding: 1rem;
}

.entries_section .entry .comments_box .comments .comment .signature {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.entries_section .entry .comments_box .comments .comment .date {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.entries_section .entry .comments_box .add_button {

    margin-top: 2rem;
    background-color: aquamarine;
    margin-bottom: 2rem;
}

@media (max-width: 1200px) {

    .entries_section .entry {
        flex-direction: column;
        height: fit-content;
        width: 98vw;
    }

    .entries_section .entry .main_chunk {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80vh;
    }

    .entries_section .entry .comments_box {
        width: 100%;
    }


    .entries_section .entry .comments_box .add_button {
        position: relative;
        margin-top: 1rem;
    }

    .entries_section .entry .comments_box .comments .comment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entries_section .entry .comments_box .comments .comment .content {
        margin: 0;
    }

    .entries_section .entry .comments_box .comments .comment .signature {
        margin: 0;
    }

    .entries_section .entry .comments_box .comments .comment .date {
        margin: 0;
    }


}


@media (max-width: 720px) {}

@media (max-width: 450px) {}