.entries_section .entry {
    width: 99vw;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
    border: 0.2rem solid crimson;
}


.entries_section .entry .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
}

.entries_section .entry .comments_box {
    width: 33%;
}

.entries_section .entry .comments_box .comments {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 60vh;
    overflow-y: scroll;
}

.entries_section .entry .comments_box .comments .comment {
    background-color: cadetblue;
    padding: 1rem;
}

.entries_section .entry .comments_box .comments .comment .signature {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.entries_section .entry .comments_box .comments .comment .date {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.entries_section .entry .comments_box .add_button {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 2rem;
    background-color: aquamarine;
}


@media (max-width: 720px) {



}

@media (max-width: 450px) {



}