#add_comment_modal {
    position: fixed;
    top: 0;
    left: 5vw;
    right: 5vw;
    bottom: 0;
    background-color: rgb(242, 125, 86);
    z-index: 55;
    border: 0.5rem solid rgb(198, 57, 57);
    border-radius: 0.3rem;
    font-weight: bold;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add_comment_modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

#add_comment_modal form label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

#add_comment_modal form label input,
textarea {
    width: 15rem;
    height: 2.4rem;
}

#add_comment_modal form label input {
    text-align: center;
}

#add_comment_modal form label textarea {
    text-align: center;
}

#add_comment_modal form button {
    padding: 0.4rem;
    border: 2px solid yellowgreen;
    border-radius: 0.5rem;
    background-color: #5bc172;
    cursor: pointer;
}

#add_comment_modal .image_box {
    height: 85vh;
    width: 85vh;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_comment_modal .image_box .image_vertical {
    height: 100%;
    width: auto;
}

#add_comment_modal .image_box .image_horizontal {
    width: 100%;
    height: auto;
}

#add_comment_modal .success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4edda;
    color: #155724;
    padding: 3rem;
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#add_comment_modal form button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

@media (max-width: 1160px) {

    #add_comment_modal {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        left: 0;
        right: 0;
    }


    #add_comment_modal form label input,
    textarea {
        height: 1.2rem;
    }

    #add_comment_modal .image_box {
        width: 65vh;
        height: 65vh;
    }

    #add_comment_modal form {
        gap: 0.1rem;
    }
}

@media (max-width: 720px) {


    #add_comment_modal form label input,
    textarea {
        width: 11rem;
        height: 2rem;
    }

        #add_comment_modal .image_box {
        width: 97vw;
        height: 97vw;
    }

    #add_comment_modal form {
        gap: 1.2rem;
    }

}

@media only screen
    and (min-device-width: 1024px)
    and (max-device-width: 1024px)
    and (min-device-height: 600px)
    and (max-device-height: 600px)
    and (-webkit-min-device-pixel-ratio: 2) {

    #add_comment_modal .image_box {
        width: 75vh;
        height: 75vh;
    }
}