#add_comment_modal {
    position: fixed;
    top: 0;
    left: 5vw;
    right: 5vw;
    bottom: 0;
    background-color: rgb(242, 125, 86);
    z-index: 55;
    border: 0.5rem solid rgb(151, 81, 81);
    border-radius: 0.3rem;
    font-weight: bold;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(src/assets/after-2184291_1280.png);
    background-size: cover;
    background-position: center;
}

#add_comment_modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#add_comment_modal form label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}


#add_comment_modal form label input,
textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15rem;
}

#add_comment_modal form label input {
    height: 2.4rem;
}

#add_comment_modal form label textarea {
    height: 8rem;
}


#add_comment_modal form button {
    padding: 0.6rem;
    border: 2px solid yellowgreen;
    border-radius: 0.5rem;
    background-color: #5bc172;
    cursor: pointer;
    transition: all 0.3s;
}

#add_comment_modal form button:hover {
    border: 2px solid rgb(176, 204, 122);
    background-color: #97caa3;
}

#add_comment_modal form button:active {
    border: 2px solid rgb(219, 228, 200);
    background-color: #ccddd0;
}

#add_comment_modal .image_box {
    height: 85vh;
    width: 85vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_comment_modal .image_box .image_vertical {
    height: 100%;
    width: auto;
}

#add_comment_modal .image_box .image_horizontal {
    width: 100%;
    height: auto;
}

#add_comment_modal .success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4edda;
    color: #155724;
    padding: 3rem;
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    animation: fadeIn 0.3s ease-in-out;
}



@media (max-width: 1180px) {

    #add_comment_modal {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        left: 0;
        right: 0;
    }

    #add_comment_modal form {
        gap: 0.7rem;
    }

    #add_comment_modal form button {
        padding: 0.7rem;
    }

    #add_comment_modal .image_box {
        width: 60vh;
        height: 60vh;
    }

    #add_comment_modal form {
        gap: 1rem;
    }
}

@media (max-width: 520px) {

    #add_comment_modal form button {
        margin: 0.6rem auto 0.1rem auto;
    }

    #add_comment_modal form label {
        width: 90vw;
        font-size: larger;
    }

    #add_comment_modal form label textarea {
        width: 45%;
        height: 6rem;
    }

    #add_comment_modal form label input {
        height: 2.8rem;
        width: 45%;
    }

    #add_comment_modal .image_box {
        width: 95vw;
        height: 95vw;
    }

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 600px) and (max-device-height: 600px) and (-webkit-min-device-pixel-ratio: 2) {

    #add_comment_modal {
        flex-direction: row;
    }

    #add_comment_modal form button {
        padding: 0.5rem;
    }

    #add_comment_modal .image_box {
        width: 80vh;
        height: 80vh;
    }

    #add_comment_modal form label textarea {
        height: 8rem;
    }

    #add_comment_modal form label input,
    textarea {
        height: 1.8rem;
    }

}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1280px) and (min-device-height: 800px) and (max-device-height: 800px) and (-webkit-min-device-pixel-ratio: 2) {

    #add_comment_modal form label textarea {
        height: 8rem;
    }

}


@media (min-height: 1000px) {

    #add_comment_modal form button {
        padding: 0.6rem;
        margin: 0;
    }

    #add_comment_modal form label textarea {
        height: 6rem;
    }

    #add_comment_modal form label input {
        height: 2.8rem;
    }

    #add_comment_modal .image_box {
        width: 95vw;
        height: 95vw;
    }

}

@media (max-width: 600px) and (orientation: portrait) {

    #add_comment_modal form label textarea {
        height: 6rem;
    }

    #add_comment_modal form button {
        margin: 0;
        padding: 0.5rem;
    }

}


@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#add_comment_modal form button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}