.headstrip {
  width: 100%;
  height: 9rem;
  background-image: url(src/assets/headstrip-sideimage04.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headstrip p {
  font-weight: 700;
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  text-align: center;
  color: aliceblue;
  line-height: normal;
  padding: 0.3rem;
}

.headstrip p .header_name {
  display: inline-block;
}

.headstrip p .header_city {
  display: inline-block;
}


@media (max-width: 450px) {

  .headstrip p {
    font-size: 2.5rem;
    padding: 1rem;
  }

  .headstrip p .header_name {
    display: block;
  }

  .headstrip p .header_city {
    display: block;
  }

}