.main_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    background-color: #000000;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0;
    width: 100%;
  }
  
  .main_menu ul .menu_link {
    margin-left: 0;
    color: #535ad4;
  }
  
  .main_menu ul li .menu_link {
    border-radius: 0.4rem;
    background-color: inherit;
    color: rgb(14, 228, 121);
    font-style: italic;
    padding: 0.3rem 0.5rem;
    transition: all 0.3s;
  }
  
  .main_menu ul li .menu_link.active {
    background-color: rgb(46, 154, 118);
    color: rgb(178, 220, 12);
  }
  
  .main_menu ul li .menu_link:hover {
    background-color: #474971
  }

    .main_menu a {
    display: flex;
    align-self: center;
    padding: 0.2rem;
    gap: 0.2rem;
    color: #1a1a1a;
  }

  .main_menu a:hover {
    color: rgb(30, 113, 85);
  }

   .main_menu a:hover img {
    border-color: rgb(30, 113, 85);
  }

  .main_menu .nationality-currency img {
    border-radius: 15rem;
    padding: 0.1rem;
    border: 0.15rem solid #1a1a1a;
    height: 1.5rem;
    width: 1.5rem;
  }

  @media (max-width: 450px) {

  .main_menu {
    font-size: small;
  }

  .main_menu ul {
    gap: 0.2rem;
    flex-direction: column;
    align-items: center;
  }

  .main_menu ul .menu_link {
    font-size: 1.3rem;
  }

}
  